<mat-card>
    <mat-card-title>Nova Série</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="nome"
                [(ngModel)]="series.nome" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="temporadas"
                [(ngModel)]="series.temporadas" name="temporadas">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="descricao"
                [(ngModel)]="series.descricao" name="descricao">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createSeries()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>